body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #000;
}

section {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project {
    width: 30%; /* Adjust the width as needed */
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5%; /* Adjust the margin as needed */
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 0;
}
